@model IEnumerable<MVC.Models.Message>

@{
    ViewBag.Title = "Messages";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MessageID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
                </td>
            </tr>
        }

</table>
</body>
</html>
