
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @if (User.Identity.Name != "")
    {
        <h4>&nbsp&nbsp Welcome @User.Identity.Name</h4>
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            @Html.ActionLink(Resource.home, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        @Html.ActionLink(Resource.schedule, "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    @if (Request.IsAuthenticated)
    {
                <li class="nav-item">
                    @Html.ActionLink(Resource.logout, "Logout", "Account", new { area = "" }, new { @class = "nav-link" })
                </li>
}

                    @if (!Request.IsAuthenticated)
    {
                <li class="nav-item">
                    @Html.ActionLink(Resource.signin, "Login", "Account", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(Resource.signup, "SignUp", "Account", new { area = "" }, new { @class = "nav-link" })
                </li>
}


                    @if (User.IsInRole("Admin"))
    {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tables
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Roles", "Index", "Roles", new { area = "" }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
}
                </ul>
            </div>
            @Html.ActionLink("Ru", "ChangeCulture", "Home", new { lang = "ru", returnURL = this.Request.RawUrl }, new { @class = "navbar-brand" });
            @Html.ActionLink("En", "ChangeCulture", "Home", new { lang = "en", returnURL = this.Request.RawUrl }, new { @class = "navbar-brand" });
        </nav>
    </header><br>
    <div class="container body-content">

        @RenderBody()

    </div>
    <footer>
        <p> © @DateTime.Now.Year</p>
    </footer>
</body>
</html>
